.home-block {
    display: block;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgba(232, 228, 209, 0);
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
}

.div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
    max-width: none;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.div-block-3 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
    margin-right: 0px;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
}

.div-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: none;
    margin-right: 0px;
    margin-left: 200px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.div-block-29 {
    overflow: hidden;
}

.div-block-30 {
    overflow: hidden;
}

.div-block-31 {
    overflow: hidden;
}

.gallery-block {
    position: relative;
    display: block;
    overflow: visible;
    width: 100%;
    height: 4650vh;
    margin-top: 0px;
    margin-bottom: 0px;
}

.gallery-scroll-track {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.gallery-container {
    position: sticky !important;
    top: 0px;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    // background-image: url(./texture.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-track {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 700vw;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.issue-div {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.text-div {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
    max-width: none;
    margin-left: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.text-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 490px;
    margin-left: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.text-wrapper.tw-birds {
    margin-left: 200px;
}

.text-block2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 50%;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.text-block1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 35%;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.heading {
    display: block;
    width: 100%;
    max-width: none;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-family: 'EB Garamond', sans-serif;
    color: #b01516;
    font-size: 48px;
    line-height: 50px;
    font-weight: 800;
}

.body-text._2 {
    display: block;
    width: 100%;
    height: auto;
    max-width: none;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    line-height: 26px;
    text-align: left;
}

.image-wrapper {
    position: relative;
    width: 50%;
    margin-left: 0px;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
}

.image-wrapper>img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.lottie {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /* opacity: 0.5; */
}

.line {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: rgba(10, 54, 30, 0);
    /* opacity: 0.5; */
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}


@keyframes titleMove {
    0% {
        transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    100% {
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }
}

@keyframes textMove {

    /*定义从右边滑入文字的动画*/
    0% {
        transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    100% {
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }
}


.color {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.line-parent {
    position: absolute;
    top: -0.5px;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 479px) {
    .logo {
        width: 8vw;
        margin-top: 15px;
        margin-left: 20px;
    }

    .gallery-block {
        display: none;
    }

    .gallery-block.desktop {
        display: block;
        height: 4600vh;
    }

    .gallery-track {
        padding-right: 0px;
        padding-left: 0px;
    }

    .div-block-2 {
        width: 100%;
    }

    .div-block-3 {
        display: none;
    }

    .title._2 {
        font-size: 37px;
        line-height: 40px;
    }

    .title._1 {
        font-size: 28px;
        line-height: 30px;
    }

    .body-text {
        margin-top: 10px;
        margin-right: 0px;
        font-size: 16px;
        line-height: 22px;
    }

    .body-text._2 {
        margin-top: 0px;
    }

    .div-block-4 {
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 5vw;
        padding-left: 5vw;
    }

    .image-4 {
        min-width: auto;
    }

    .text-span {
        font-size: 37px;
        line-height: 40px;
    }

    .issue-div {
        left: 0px;
        right: 0px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .text-div {
        width: 100%;
        height: 100%;
        margin-top: 60px;
        padding-top: 0px;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }

    .image-wrapper {
        position: absolute;
        bottom: 0px;
        width: 100%;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        background-image: none;
        background-size: auto;
        background-repeat: repeat;
    }

    .image-wrapper._3 {
        width: 100vw;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .image-wrapper._4 {
        width: 100vw;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .heading {
        font-size: 28px;
        line-height: 30px;
    }

    .text-wrapper {
        height: auto;
        margin-left: 0px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .text-wrapper._1 {
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .text-wrapper.tw-birds {
        margin-left: 0px;
    }

    .report {
        left: auto;
        top: 0%;
        right: 0%;
        bottom: auto;
        width: 8vw;
        margin-top: 10px;
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .button {
        width: 100vw;
        height: 8vh;
    }

    .arrow {
        margin-left: 5px;
    }

    .arrow.arrow-left {
        margin-right: 5px;
    }

    .button-heading {
        font-size: 16px;
        line-height: 24px;
    }

    .div-block-13 {
        width: 100vw;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .link-2 {
        font-size: 18px;
        line-height: 22px;
    }

    .text-block2 {
        height: auto;
        margin-top: 0px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .text-block1 {
        height: auto;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .div-block-16 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .lottie {
        /* position: relative; */
        /* bottom: 0px; */
        height: 100%;
    }

    .lottie.desktop {
        display: none;
    }

    .lottie.mobile {
        position: relative;
        display: block;
        height: 100%;
    }

    .color {
        height: 100%;
    }

    .line-parent {
        display: none;
    }
}

.footer-nav-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2{
        font-size: 40px;
        color: #121212;
        margin-bottom: 1em;
    }
}
